<div class="content">
  <h2 class="section-title">NEWS</h2>
  {
    Array.from({ length: 100 }, (_, i) => i + 1).map((num) => (
      <dl>
        <dt>2024年11月22日</dt>
        <dd>
          <a href={`/news/1/${num}/`}>news {num}</a>
        </dd>
      </dl>
    ))
  }
  {
    Array.from({ length: 100 }, (_, i) => i + 1).map((num) => (
      <dl>
        <dt>2024年11月22日</dt>
        <dd>
          <a href={`/news/2/${num}/`}>news {num + 100}</a>
        </dd>
      </dl>
    ))
  }
  {
    Array.from({ length: 100 }, (_, i) => i + 1).map((num) => (
      <dl>
        <dt>2024年11月22日</dt>
        <dd>
          <a href={`/news/3/${num}/`}>news {num + 200}</a>
        </dd>
      </dl>
    ))
  }
  {
    Array.from({ length: 100 }, (_, i) => i + 1).map((num) => (
      <dl>
        <dt>2024年11月22日</dt>
        <dd>
          <a href={`/news/4/${num}/`}>news {num + 300}</a>
        </dd>
      </dl>
    ))
  }
  {
    Array.from({ length: 100 }, (_, i) => i + 1).map((num) => (
      <dl>
        <dt>2024年11月22日</dt>
        <dd>
          <a href={`/news/5/${num}/`}>news {num + 400}</a>
        </dd>
      </dl>
    ))
  }
  {
    Array.from({ length: 100 }, (_, i) => i + 1).map((num) => (
      <dl>
        <dt>2024年11月22日</dt>
        <dd>
          <a href={`/news/6/${num}/`}>news {num + 500}</a>
        </dd>
      </dl>
    ))
  }
  {
    Array.from({ length: 100 }, (_, i) => i + 1).map((num) => (
      <dl>
        <dt>2024年11月22日</dt>
        <dd>
          <a href={`/news/7/${num}/`}>news {num + 600}</a>
        </dd>
      </dl>
    ))
  }
  {
    Array.from({ length: 100 }, (_, i) => i + 1).map((num) => (
      <dl>
        <dt>2024年11月22日</dt>
        <dd>
          <a href={`/news/8/${num}/`}>news {num + 700}</a>
        </dd>
      </dl>
    ))
  }
  {
    Array.from({ length: 100 }, (_, i) => i + 1).map((num) => (
      <dl>
        <dt>2024年11月22日</dt>
        <dd>
          <a href={`/news/9/${num}/`}>news {num + 800}</a>
        </dd>
      </dl>
    ))
  }
  {
    Array.from({ length: 100 }, (_, i) => i + 1).map((num) => (
      <dl>
        <dt>2024年11月22日</dt>
        <dd>
          <a href={`/news/10/${num}/`}>news {num + 900}</a>
        </dd>
      </dl>
    ))
  }
  <dl>
    <a href="/news/" style="font-weight: 700;">ニュース一覧へ &gt;</a>
  </dl>
</div>

<style>
  .content {
    width: 65%;
    margin: 10px auto;
  }

  .content dl {
    width: auto;
  }
</style>
